CRAFT-asp/*.json
**/*.tar.gz
**/*.zip
!CRAFT-asp/descriptions_generated.json
**/__pycache__
**/temp_ASP.lp
NSDR-asp/data/converted
NSDR-asp/data/object_updated_results_ep_ts_gtc
NSDR-asp/data/parsed_programs/*.json
NSDR-asp/data/processed_proposals
NSDR-asp/data/propnet_preds
NSDR-asp/data/questions
VRDP-asp/data/frame_info
VRDP-asp/data/object_dicts_with_physics
VRDP-asp/data/object_simulated
VRDP-asp/data/object_updated_results
CRAFT-asp/annotations.json
CRAFT-asp/dataset_minimal.json
CRAFT-asp/split_info_hard.json
CRAFT-asp/split_info_random.json
!NSDR-asp/data/parsed_programs/oe_1000pg_val_new.json